@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "leaflet/dist/leaflet.css";

@import "mapillary-js/dist/mapillary.css";

body {
  height: 100vh;
  background-color: rgb(15, 23, 42);
  background-attachment: fixed;
  background-image: radial-gradient(
      at 0% 8%,
      rgba(108, 14, 216, 0.276) 0,
      transparent 41%
    ),
    radial-gradient(at 100% 0%, rgba(115, 18, 130, 0.386) 0, transparent 62%),
    radial-gradient(at 42% 1%, rgba(116, 136, 169, 0.422) 0, transparent 50%);
}

.mapillary-zoom-container {
  @apply left-6 hidden md:block;
}

.mapillary-bearing-indicator-container {
  @apply left-6 bottom-6  hidden md:block;
}

.mapillary-attribution-container {
  @apply left-0 right-auto;
}

.mapillary-sequence-container {
  @apply top-6 hidden md:block;
}

.mapillary-direction-perspective {
  @apply hidden lg:block;
}
